[Unit]
Description=MPD-Controller
After=network.target mpd.service

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi/RaspberryHeadlessAudioPlayer
ExecStart=/home/pi/RaspberryHeadlessAudioPlayer/mpdcontroller.py
Restart=on-success
# TODO which one to use?
# on-success: SIGHUP, SIGINT, SIGTERM or SIGPIPE,
# on-failure: error, watchdog, timeout, other signals ?
# on-abnormal: watchdog, failure, timeout, other signals ?
# on-abort: other signals
# on-watchdog
# always

[Install]
# if installed as user service:
#WantedBy=default.target
# if installed as system service:
WantedBy=multi-user.target
